



#spaceship {

    position: absolute;
    top: 50px;
    left: 200px;
    background-image: url("../Images/level1ship.png");
    background-size:100% 100%;
    width: 60px;
    height: 100px;
}

/* Oyun alanı */
#canvas {
  position:absolute;
    background-image: url("../Images/level1.png");
    /*background-color: aqua;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    visibility: visible;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
